@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

header {
    padding: 0 20px;
}

.nav {
    margin: 0 90px;
    height: 52px;
}

.nav__left h2 {
    font-size: 16px;
    font-weight: 600;
}

.nav__left__logo {
    width: 30px;
    margin-right: 10px;
}

.nav__center a {
    padding: 6px 15px;
    font-size: 14px;
    color: var(--color-theme-fg);
    text-decoration: none;
}

.nav__right .btn {
    box-shadow: none;
    padding: 5px 10px;
    border-radius: 22px;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary {
    background: var(--color-theme-bg);
    color: var(--color-theme-fg);
    border: 1px solid var(--color-theme-card-04-hex);
    margin-right: 4px;
}

.btn-secondary {
    background: var(--color-theme-fg);
    color: var(--color-theme-bg);
}

main {
    padding: 20px;
}

.hero {
    margin: 90px;
}

.hero h2 {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 400;
    color: var(--color-theme-fg-02);
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 22px;
    font-weight: 600;
}

.hero__cta {
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 13px 21px;
}